/*
* jQuery Mobile Framework
* by @carlos_olivera
* Custom widget (gauge)
*/
label.ui-gauge { font-size: 16px; line-height: 1.4;  font-weight: normal; margin: 0 0 .3em; display: block; }
div.ui-gauge { position: relative; display: inline-block; overflow: visible; height: 15px; padding: 0; margin: 0 2% 0 20px; top: 4px; width: 66%; }
div.ui-gauge-widget { width: 99.8%; }
p.ui-gauge-handle { position: absolute; z-index: 10;  top: 50%; width: 28px; height: 28px; margin-top: 15px; margin-left: 15px; }

@media all and (min-width: 480px){
	.ui-field-contain label.ui-gauge { vertical-align: top;  display: inline-block;  width: 20%;  margin: 0 2% 0 0; }
	.ui-field-contain div.ui-gauge { width: 43%; }
}	

div.ui-gauge-widget { height: 32px;  margin-left: 0; margin-bottom: 20px;}
div.ui-gauge-inneroffset {position: absolute; top: 1px; height: 100%; width: 100%; }

div.ui-gauge-widget p.ui-gauge-handle {z-index: 20;  width: 0%; height: 28px; margin-top: -16px; margin-left: 0%;}
span.ui-gauge-label {position: relative; height: 32px; font-size: 16px; line-height: 2; background: 0; border-color: transparent; text-align: right !important; margin-right: -1px}
